<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Stand For Humanity</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% load staticfiles %}

        <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

        <link rel="stylesheet" href={% static 'css/main.css' %}>

        <script>window.jQuery || document.write("<script src={% static 'js/vendor/jquery-2.1.1.min.js' %}><\/script>")</script>
{#        <script src={% static 'js/jquery.transit.min.js' %}></script>#}

        <script src="https://checkout.stripe.com/checkout.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIvAOA-EBPZkLm2lBr1DVPAX5LpwhWLnc&v=3.exp"></script>
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>

        <script>
            function initialize() {
              // Create an array of styles.
              var styles = [
                {
                  stylers: [
                    { "gamma": 0.69 },
                    { "visibility": "simplified" },
                    { "lightness": -66 },
                    { "saturation": -6 },
                    { "hue": "#00bbff" }
                  ]
                }
              ];

              // Create a new StyledMapType object, passing it the array of styles,
              // as well as the name to be displayed on the map type control.
              var styledMap = new google.maps.StyledMapType(styles,
                {name: "Styled Map"});

              // Create a map object, and include the MapTypeId to add
              // to the map type control.
              var mapOptions = {
                zoom: 4,
                mapTypeControl: false,
                panControl: false
              };

              var map = new google.maps.Map(document.getElementById('map-canvas'),
                mapOptions);

              var dialogInput = (document.getElementById('dialog-input'));
              var dialogAutocomplete = new google.maps.places.Autocomplete(dialogInput);
              dialogAutocomplete.bindTo('bounds', map);

              var input = /** @type {HTMLInputElement} */(
                document.getElementById('pac-input'));
              var autocomplete = new google.maps.places.Autocomplete(input);
              autocomplete.bindTo('bounds', map);

              // Try W3C Geolocation (Preferred)
              if(navigator.geolocation) {
                browserSupportFlag = true;
                navigator.geolocation.getCurrentPosition(function(position) {
                  initialLocation = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
                  map.setCenter(initialLocation);
                  $('input[name="map-coordinates-lat"]').val(map.getCenter().lat());
                  $('input[name="map-coordinates-lng"]').val(map.getCenter().lng());
                  }, function() {
                  handleNoGeolocation(browserSupportFlag);
                });
              }
              // Browser doesn't support Geolocation
              else {
                browserSupportFlag = false;
                handleNoGeolocation(browserSupportFlag);
              }

              function handleNoGeolocation(errorFlag) {
                if (errorFlag == true) {
                  alert("Geolocation service failed.");
                  initialLocation = newyork;
                } else {
                  alert("Your browser doesn't support geolocation. We've placed you in Siberia.");
                  initialLocation = siberia;
                }
                map.setCenter(initialLocation);
                $('input[name="map-coordinates-lat"]').val(map.getCenter().lat());
                $('input[name="map-coordinates-lng"]').val(map.getCenter().lng());
              }



              google.maps.event.addListener(autocomplete, 'place_changed', function() {
                var place = autocomplete.getPlace();
                if (!place.geometry) {
                  return;
                }

                // If the place has a geometry, then present it on a map.
                if (place.geometry.viewport) {
                  map.fitBounds(place.geometry.viewport);
                  $('input[name="map-coordinates-lat"]').val(map.getCenter().lat());
                  $('input[name="map-coordinates-lng"]').val(map.getCenter().lng());
                  map.setZoom(4);
                } else {
                  map.setCenter(place.geometry.location);
                  $('input[name="map-coordinates-lat"]').val(map.getCenter().lat());
                  $('input[name="map-coordinates-lng"]').val(map.getCenter().lng());
                  map.setZoom(4);  // Why 17? Because it looks good.
                }

                var address = '';
                if (place.address_components) {
                  address = [
                    (place.address_components[0] && place.address_components[0].short_name || ''),
                    (place.address_components[1] && place.address_components[1].short_name || ''),
                    (place.address_components[2] && place.address_components[2].short_name || '')
                  ].join(' ');
                }
              });

              google.maps.event.addListener(dialogAutocomplete, 'place_changed', function() {
                var place = dialogAutocomplete.getPlace();
                if (!place.geometry) {
                  return;
                }

                // If the place has a geometry, then present it on a map.
                if (place.geometry.viewport) {
                  map.fitBounds(place.geometry.viewport);
                  $('input[name="map-coordinates-lat"]').val(map.getCenter().lat());
                  $('input[name="map-coordinates-lng"]').val(map.getCenter().lng());
                  map.setZoom(4);
                } else {
                  map.setCenter(place.geometry.location);
                  $('input[name="map-coordinates-lat"]').val(map.getCenter().lat());
                  $('input[name="map-coordinates-lng"]').val(map.getCenter().lng());
                  map.setZoom(4);  // Why 17? Because it looks good.
                }

                var address = '';
                if (place.address_components) {
                  address = [
                    (place.address_components[0] && place.address_components[0].short_name || ''),
                    (place.address_components[1] && place.address_components[1].short_name || ''),
                    (place.address_components[2] && place.address_components[2].short_name || '')
                  ].join(' ');
                }
              });

              //Associate the styled map with the MapTypeId and set it to display.
              map.mapTypes.set('map_style', styledMap);
              map.setMapTypeId('map_style');

              google.maps.event.addListenerOnce(map, 'tilesloaded', addMarkers);

              function addMarkers() {
                  {% if contributors %}
                    var json = "{{ contributors }}";
                    var objJson = JSON.parse(JSON.stringify(json));
                    objJson = JSON.parse(objJson.replace(/&quot;/g, '"'));
                    for (var i = 0; i < objJson.length; i++) {
                        var marker = new google.maps.Marker({
                            position: new google.maps.LatLng(objJson[i].lat, objJson[i].lng),
                            map: map
                        });
                    }
                  {% endif %}
              }
            }



            google.maps.event.addDomListener(window, 'load', initialize);

        </script>

        <script>
          function loginUser() {
              FB.login(
                  function(response) {
                      checkLoginState(); //This is a call to a different function...
                  },
                {scope:'user_likes, offline_access, publish_actions'}
              );
          }

          function ensureLogin() {
              FB.getLoginStatus(function(response) {
{#                statusChangeCallback(response);#}
                  console.log(response);
                  if (response.status != 'connected') {
                      FB.login(
                              function(response) {
                                  checkLoginState();
                                  popupAfterLogin(response);
                              },
                              {scope:'user_likes, offline_access, publish_actions'}
                      );
                  } else {
                      popupAfterLogin(response);
                  }
              });
          }

          function logoutUser() {
              FB.logout(function(response) {
                // user is now logged out
                location.reload();
              });
          }

          function popupAfterLogin(response) {
              if (response.status=='connected') {
                  strtBlackout();
              }
          }

          function shareWithFacebook() {
              FB.ui({
                method: 'feed',
                name: 'Stand for Humanity',
                link: 'http://fbrell.com/',
                picture: 'http://fbrell.com/f8.jpg',
                caption: 'Make a Difference',
                description: 'Support the cause and join hundreds of others to take a stand for humanity. ' +
                        'We\'re creating a movement.'
              }, function(response){
                  if (response && !response.error_code) {
                      endBlackout();
                      postToMap(FB.getAuthResponse().userID);
                  }
              });
          }
          // This is called with the results from from FB.getLoginStatus().
          function statusChangeCallback(response) {
            console.log('statusChangeCallback');
            console.log(response);
            // The response object is returned with a status field that lets the
            // app know the current login status of the person.
            // Full docs on the response object can be found in the documentation
            // for FB.getLoginStatus().
            if (response.status === 'connected') {
              // Logged into your app and Facebook.
              testAPI();
            } else if (response.status === 'not_authorized') {
              // The person is logged into Facebook, but not your app.
            } else {
              // The person is not logged into Facebook, so we're not sure if
              // they are logged into this app or not.
            }
          }

          // This function is called when someone finishes with the Login
          // Button.  See the onlogin handler attached to it in the sample
          // code below.
          function checkLoginState() {
            FB.getLoginStatus(function(response) {
              statusChangeCallback(response);
            });
          }

          window.fbAsyncInit = function() {
          FB.init({
            appId      : '1437375943194144',
            cookie     : true,  // enable cookies to allow the server to access
                                // the session
            xfbml      : true,  // parse social plugins on this page
            version    : 'v2.0' // use version 2.0
          });

          // Now that we've initialized the JavaScript SDK, we call
          // FB.getLoginStatus().  This function gets the state of the
          // person visiting this page and can return one of three states to
          // the callback you provide.  They can be:
          //
          // 1. Logged into your app ('connected')
          // 2. Logged into Facebook, but not your app ('not_authorized')
          // 3. Not logged into Facebook and can't tell if they are logged into
          //    your app or not.
          //
          // These three cases are handled in the callback function.

          FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
          });

          };

          // Load the SDK asynchronously
          (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));

          // Here we run a very simple test of the Graph API after login is
          // successful.  See statusChangeCallback() for when this call is made.
          function testAPI() {
            console.log('Welcome!  Fetching your information.... ');
            FB.api('/me', function(response) {
              console.log('Successful login for: ' + response.name);
              $('input[name="fb-id"]').val(FB.getAuthResponse().userID);
              $('#login-with-facebook').css('display', 'none');
              $('#facebook-image').append("<a class='facebook-img' href='#' onclick='dropdownOptions();'>" +
                      "<img src='https://graph.facebook.com/v2.0/"+FB.getAuthResponse().userID+"/picture' width='35' style='border-radius: 15px;'></img>" +
                      "</a>");

            });
          }
        </script>

        <script>
            function dropdownOptions() {
                var dropdown = $('.dropdown');
                if (dropdown.css('display') !== 'none') {
                    dropdown.css('display', 'none');
                } else {
                    dropdown.css('display', 'block');
                }
            }

            function selectShareWithFacebook() {
                $('.option-share').css('display', 'none');
                $('.option-donate').css('display', 'none');
{#                $('.donate').css('display', 'none');#}
                $('.post-to-fb').css('display', 'block');
            }

            function selectMakeADonation() {
                $('.option-donate').css('display', 'none');
                $('.option-share').css('display', 'none');
                $('.donate').css('display', 'block');
            }

            function postToMap(fbID) {
                $.post("/postToMap/",
                    {
                       facebookId:fbID,
                       lat: $('input[name="map-coordinates-lat"]').val(),
                       lng: $('input[name="map-coordinates-lng"]').val(),
                       csrfmiddlewaretoken:$('input[name="csrfmiddlewaretoken"]').val()
                    },
                    function(data, success) {
                        location.reload();
                    });
            }

            function testPost() {
                $.post("/ipn/",
                    {
                       lat: $('input[name="map-coordinates-lat"]').val(),
                       lng: $('input[name="map-coordinates-lng"]').val(),
{#                       csrfmiddlewaretoken:$('input[name="csrfmiddlewaretoken"]').val()#}
                    },
                    function(data, success) {
                        location.reload();
                    });
            }
        </script>


        <script type="text/javascript">
            //This is the function that closes the pop-up
            function endBlackout(){
                $(".blackout").css("display", "none");
{#                $(".blackout").transition({ opacity: 0 });#}
                $(".msgbox").css("display", "none");
{#                $(".msgbox").transition({ opacity: 0 });#}
                $('.option-share').css('display', 'block');
                $('.post-to-fb').css('display', 'none');
                $('.option-donate').css('display', 'block');
                $('.donate').css('display', 'none');
            }

            //This is the function that starts the pop-up
            function strtBlackout(){
                $(".msgbox").css("display", "block");
{#                $(".msgbox").transition({ opacity: 1 });#}
                $(".blackout").css("display", "block");
{#                $(".blackout").transition({ opacity: 1 });#}
                $('.option-share').css('display', 'block');
                $('.post-to-fb').css('display', 'none');
                $('.option-donate').css('display', 'block');
                $('.donate').css('display', 'none');
            }

            //Sets the buttons to trigger the blackout on clicks
            $(document).ready(function(){
{#                $("#gtom-button").click(strtBlackout); // open if btn is pressed#}
                $(".blackout").click(endBlackout); // close if click outside of popup
                $(".closeBox").click(endBlackout); // close if close btn clicked

                $("input#otherInput").keyup(function(){
                  $("input#otherAmount").val($(this).val() + "00");
                });
            });
        </script>

    </head>
    <style>

        .dropdown {
            width: 75px;
            padding-top: 10px;
            z-index: 100;
            position: absolute;
            display: none;
        }

        .dropdown ul,li {
            list-style-type: none;
            list-style-position: inside;
            padding: 5px 0 5px 0;
            font-size: 13px;
            background: lightgray;
            color: black;
            font-weight: 300;
        }

        .dropdown-list a:hover {
            background-color: #30bdff;
        }

        #autocomplete-container {
            width: 82%;
            margin: 0 auto;
            min-width: 937px;
            max-width: 1024px;

        }

        #pac-input {
            position: absolute;
            z-index: 50;
            background-color: #fff;
            border-radius: 3px;
            margin-top: 10px;
            padding: 3px 11px 1px 8px;
            width: 250px;
{#            font-family: Roboto;#}
            font-size: 13px;
            font-weight: 300;
            text-overflow: ellipsis;
        }

        #pac-input:focus {
            border-color: #4d90fe;
            margin-left: -1px;
            padding-left: 10px;  /* Regular padding-left + 1. */
            width: 251px;
        }

        .set-location {
            display: none;
        }
    </style>
    <body>
        <div class="header-container" >
            <div id="header" >
                <div id="table-container">
                    <table style="width: 100%;" id="header-table">
                        <tr>
                            <td>
                               <div style="float:left;">
                                   <a href="#"><img id="iconImg" src={% static 'img/standforhumanity.png' %} width="300" /></a>
                               </div>
                            </td>
                            <div style="float:right;">
                            <td class="header-tab">
                                <a class="tab-link" href="#map">Map</a>
                            </td>
                            <td class="header-tab">
                                <a class="tab-link" href="#thecause">The Cause</a>
                            </td>
                            <td class="header-tab">
                                <a class="tab-link" href="#about">About</a>
                            </td>
                            <td class="header-tab">
                                <a class="tab-link" href="#theimpact">The Impact</a>
                            </td>
                            <td width="75" class="header-tab">
                                <div id="login-with-facebook">
                                    <a class="tab-link" href="#" onClick="loginUser(); return false;">Login</a>
                                </div>
                                <div id="facebook-image"></div>
                                <div class="dropdown">
                                    <ul class="dropdown-list">
                                        <a href="#" onclick="logoutUser(); return false;"><li>Logout</li></a>
                                    </ul>
                                </div>
                            </td>
                            </div>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="main-container">
            <div class="tagline-container">
                <h1 class="tagline">What if you and your friends could make difference?</h1>
                <h4 class="subtag1">Support the cause and join hundreds of others to take a stand for humanity.</h4>
                <h4 class="subtag2">We're creating a movement.</h4>
            </div>
{#            <div class="instructions-container">#}
{#                <h3>There are two ways to get on the map</h3>#}
{#            </div>#}
            <div class="getonthemap-container">
                <div class="button-container">
                    <button id="gtom-button" type="button" class="btn btn-primary btn-lg btn-block" onclick="ensureLogin();">Get on the Map</button>
                    <div class="blackout"></div>
                    <div class="msgbox">
                        <div class="closeBox">Close</div>
                        <br />
                        <div class="option-share">
                            <button id="share-fb-button" type="button" class="btn btn-primary btn-lg" onclick="selectShareWithFacebook();">Post to FB</button>
                        </div>
                        <div class="post-to-fb">
                            <input id="dialog-input" class="controls" type="text" placeholder="Enter a location">
                            {% csrf_token %}
                            <button id="share-fb-button" type="button" class="btn btn-primary" onclick="shareWithFacebook();">Make Your Mark</button>
                        </div>
                        <br/>

                        <div class="option-donate">
                            <button id="donate-button" type="button" class="btn btn-primary btn-lg" onclick="selectMakeADonation();">Make a Donation</button>
                        </div>
                        <div class="donate">
                            <form action="/donate/" method="POST">
                                <button id="customButton" class="btn btn-primary">Donate</button>
                                {% csrf_token %}
                                <input id="map-coordinates-lat" name="map-coordinates-lat" type="hidden" value="">
                                <input id="map-coordinates-lat" name="map-coordinates-lng" type="hidden" value="">
                                <input id="fb-id" name="fb-id" type="hidden" value="">
                                <br/>
                                <input id="dialog-input" class="controls" type="text" placeholder="Enter a location">
                                <br/>
                                <input type="radio" name="amount" value="500">5.00<br/>
                                <input type="radio" name="amount" value="1000" checked>10.00<br/>
                                <input type="radio" name="amount" value="2500" checked>25.00<br/>
                                <input type="radio" name="amount" value="5000" checked>50.00<br/>
                                <input type="radio" name="amount" id="otherAmount" value="" checked>Other: <input id="otherInput" name="otherInput" size="16" type="text"><br/>

                                <script>
                                   $('#customButton').click(function(){
                                       var token = function(res){
                                       var $input = $('<input type=hidden name=stripeToken />').val(res.id);
                                       $('form').append($input).submit();
                                     };

                                     StripeCheckout.open({
                                       key:         'pk_test_6pRNASCoBOKtIshFeQd4XMUh',
                                       address:     false,
                                       amount:      $('input[name="amount"]:checked').val(),
                                       currency:    'cad',
                                       name:        'Joes Pistachios',
                                       description: 'A bag of Pistachios',
                                       panelLabel:  'Checkout',
                                       token:       token
                                     });

                                     return false;
                                   });
                                </script>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="map-container">
                <div id="autocomplete-container">
                    <div id="pac-input-container">
                        <input id="pac-input" class="controls" type="text" placeholder="Enter a location">
                    </div>
                </div>
                <div id="map-canvas"></div>
            </div>
        </div>
    </body>
</html>