<!DOCTYPE html>
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Stand for Humanity</title>
    <link rel="icon" type="image/png" href="{% static 'img/fist_red.png' %}">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script>window.jQuery || document.write("<script src={% static 'js/vendor/jquery-2.1.1.min.js' %}><\/script>")</script>

    <link rel="stylesheet" href="{% static 'css/index.css' %}">


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!-- STRIPE API -->
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIvAOA-EBPZkLm2lBr1DVPAX5LpwhWLnc&libraries=places&sensor=false&v=3.exp"></script>

    <script>
        google.maps.event.addDomListener(window, 'load', initialize);

        function initialize() {
            // Create an array of styles.
            var styles = [
              {
                "featureType": "administrative",
                "elementType": "geometry",
                "stylers": [
                  { "visibility": "off" }
                ]
              },{
                "featureType": "road",
                "elementType": "labels",
                "stylers": [
                  { "visibility": "off" }
                ]
              },{
                "featureType": "road.arterial",
                "elementType": "geometry",
                "stylers": [
                  { "gamma": 0.82 },
                  { "visibility": "on" },
                  { "hue": "#00a1ff" },
                  { "lightness": -94 }
                ]
              },{
                "featureType": "poi",
                "elementType": "geometry",
                "stylers": [
                  { "visibility": "off" }
                ]
              },{
                "featureType": "landscape",
                "elementType": "geometry",
                "stylers": [
                  { "gamma": 0.82 },
                  { "visibility": "on" },
                  { "hue": "#00a1ff" },
                  { "lightness": -84 }
                ]
              },{
                "featureType": "road.highway",
                "elementType": "geometry",
                "stylers": [
                  { "visibility": "on" },
                  { "lightness": 15 },
                  { "saturation": -10 },
                  { "hue": "#00e5ff" }
                ]
              },{
                "featureType": "administrative.country",
                "elementType": "labels",
                "stylers": [
                  { "visibility": "off" }
                ]
              },{
                "featureType": "administrative.province",
                "elementType": "labels",
                "stylers": [
                  { "visibility": "off" }
                ]
              },{
                "featureType": "administrative.neighborhood",
                "elementType": "labels",
                "stylers": [
                  { "visibility": "off" }
                ]
              },{
                "featureType": "administrative.land_parcel",
                "elementType": "labels",
                "stylers": [
                  { "visibility": "off" }
                ]
              },{
                "featureType": "water",
                "elementType": "labels",
                "stylers": [
                  { "visibility": "off" }
                ]
              },{
                "featureType": "water",
                "stylers": [
                  { "hue": "#0077ff" },
                  { "saturation": -53 },
                  { "lightness": -60 },
                  { "gamma": 1.11 }
                ]
              },{
              }
            ];

            // Create a new StyledMapType object, passing it the array of styles,
            // as well as the name to be displayed on the map type control.
            var styledMap = new google.maps.StyledMapType(styles,
                {name: "Styled Map"});

            // Create a map object, and include the MapTypeId to add
            // to the map type control.
            var mapOptions = {
                zoom: 3,
                mapTypeControl: false,
                panControl: false,
                center: new google.maps.LatLng(43.70011, -79.416300)
            };

            var map = new google.maps.Map(document.getElementById('map-canvas'),
                mapOptions);

            var dialogInput = (document.getElementById('dialog-input'));
            var dialogAutocomplete = new google.maps.places.Autocomplete(dialogInput);
            dialogAutocomplete.bindTo('bounds', map);

            var dialogInput2 = (document.getElementById('dialog-input2'));
            var dialogAutocomplete2 = new google.maps.places.Autocomplete(dialogInput2);
            dialogAutocomplete2.bindTo('bounds', map);

            var input = /** @type {HTMLInputElement} */(
            document.getElementById('pac-input'));
            var autocomplete = new google.maps.places.Autocomplete(input);
            autocomplete.bindTo('bounds', map);

            // Try W3C Geolocation (Preferred)
            if(navigator.geolocation) {
                browserSupportFlag = true;
                navigator.geolocation.getCurrentPosition(function(position) {
                  initialLocation = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
                  map.setCenter(initialLocation);
                  $('input[name="map-coordinates-lat"]').val(map.getCenter().lat());
                  $('input[name="map-coordinates-lng"]').val(map.getCenter().lng());
                  }, function() {
                    handleNoGeolocation(browserSupportFlag);
                  });
            }
            // Browser doesn't support Geolocation
            else {
                browserSupportFlag = false;
                handleNoGeolocation(browserSupportFlag);
            }

            function handleNoGeolocation(errorFlag) {
            $('input[name="map-coordinates-lat"]').val(map.getCenter().lat());
            $('input[name="map-coordinates-lng"]').val(map.getCenter().lng());
            }

            google.maps.event.addListener(autocomplete, 'place_changed', function() {
            var place = autocomplete.getPlace();
            if (!place.geometry) {
              return;
            }

            // If the place has a geometry, then present it on a map.
            if (place.geometry.viewport) {
              map.fitBounds(place.geometry.viewport);
              $('input[name="map-coordinates-lat"]').val(map.getCenter().lat());
              $('input[name="map-coordinates-lng"]').val(map.getCenter().lng());
              map.setZoom(4);
            } else {
              map.setCenter(place.geometry.location);
              $('input[name="map-coordinates-lat"]').val(map.getCenter().lat());
              $('input[name="map-coordinates-lng"]').val(map.getCenter().lng());
              map.setZoom(4);  // Why 17? Because it looks good.
            }

            var address = '';
            if (place.address_components) {
              address = [
                (place.address_components[0] && place.address_components[0].short_name || ''),
                (place.address_components[1] && place.address_components[1].short_name || ''),
                (place.address_components[2] && place.address_components[2].short_name || '')
              ].join(' ');
            }
            });

            google.maps.event.addListener(dialogAutocomplete, 'place_changed', function() {
                var place = dialogAutocomplete.getPlace();
                if (!place.geometry) {
                  return;
                }

                // If the place has a geometry, then present it on a map.
                if (place.geometry.viewport) {
                  map.fitBounds(place.geometry.viewport);
                  $('input[name="map-coordinates-lat"]').val(map.getCenter().lat());
                  $('input[name="map-coordinates-lng"]').val(map.getCenter().lng());
                  map.setZoom(4);
                } else {
                  map.setCenter(place.geometry.location);
                  $('input[name="map-coordinates-lat"]').val(map.getCenter().lat());
                  $('input[name="map-coordinates-lng"]').val(map.getCenter().lng());
                  map.setZoom(4);  // Why 17? Because it looks good.
                }

                var address = '';
                if (place.address_components) {
                  address = [
                    (place.address_components[0] && place.address_components[0].short_name || ''),
                    (place.address_components[1] && place.address_components[1].short_name || ''),
                    (place.address_components[2] && place.address_components[2].short_name || '')
                  ].join(' ');
                }
            });

            google.maps.event.addListener(dialogAutocomplete2, 'place_changed', function() {
                var place = dialogAutocomplete2.getPlace();
                if (!place.geometry) {
                  return;
                }

                // If the place has a geometry, then present it on a map.
                if (place.geometry.viewport) {
                  map.fitBounds(place.geometry.viewport);
                  $('input[name="map-coordinates-lat"]').val(map.getCenter().lat());
                  $('input[name="map-coordinates-lng"]').val(map.getCenter().lng());
                  map.setZoom(4);
                } else {
                  map.setCenter(place.geometry.location);
                  $('input[name="map-coordinates-lat"]').val(map.getCenter().lat());
                  $('input[name="map-coordinates-lng"]').val(map.getCenter().lng());
                  map.setZoom(4);  // Why 17? Because it looks good.
                }

                var address = '';
                if (place.address_components) {
                  address = [
                    (place.address_components[0] && place.address_components[0].short_name || ''),
                    (place.address_components[1] && place.address_components[1].short_name || ''),
                    (place.address_components[2] && place.address_components[2].short_name || '')
                  ].join(' ');
                }
            });


            //Associate the styled map with the MapTypeId and set it to display.
            map.mapTypes.set('map_style', styledMap);
            map.setMapTypeId('map_style');

            google.maps.event.addListenerOnce(map, 'tilesloaded', addMarkers(map));

        }
;
        function addMarkers(gMap) {
          {% if contributors %}
            var infowindow = new google.maps.InfoWindow();
            var json = "{{ contributors }}";
            var objJson = JSON.parse(JSON.stringify(json));
            objJson = JSON.parse(objJson.replace(/&quot;/g, '"'));
            var contributor;
            for (var i = 0; i < objJson.length; i++) {
                contributor = objJson[i];
                var contentString = "<table>" +
                    "<tr>" +
                    "<td><img style='height: 50px; width: 50px; border-radius: 2px;' src='https://graph.facebook.com/v1.0/" + contributor.fb_id + "/picture' /></td>" +
                    "<td style='padding-left: 10px;'><h5 style='margin: 0 0 3px 0;'>"+ contributor.name +"</h5><p style='font-size:10px'>Last Contributed "+ contributor.datestamp +"</td>" +
                    "</tr>" +
                    "</table>";

                var marker = null;
                if (contributor.score < 3) {
                    marker = new google.maps.Marker({
                        position: new google.maps.LatLng(contributor.lat, contributor.lng),
                        map: gMap,
                        animation: google.maps.Animation.DROP,
                        icon: "{% static 'img/free_palestine_gray.png' %}",
                        info: contentString
                    });
                } else {
                    marker = new google.maps.Marker({
                        position: new google.maps.LatLng(contributor.lat, contributor.lng),
                        map: gMap,
                        animation: google.maps.Animation.DROP,
                        icon: "{% static 'img/free_palestine_green.png' %}",
                        info: contentString
                    });
                }

                google.maps.event.addListener(marker, 'click', function() {
                    infowindow.setContent(this.info);
                    infowindow.open(gMap, this);
                });
            }
          {% endif %}
    }
    </script>

    <script>
          function loginUser() {
              FB.login(
                  function(response) {
                      checkLoginState(); //This is a call to a different function...
                  },
                {scope:'user_likes, offline_access, publish_actions'}
              );
          }

          function ensureLogin() {
              FB.getLoginStatus(function(response) {
                  console.log(response);
                  if (response.status != 'connected') {
                      FB.login(
                              function(response) {
                                  checkLoginState();
                                  popupAfterLogin(response);
                              },
                              {scope:'user_likes, offline_access, publish_actions'}
                      );
                  } else {
                      popupAfterLogin(response);
                  }
              });
          }

          function logoutUser() {
              FB.logout(function(response) {
                // user is now logged out
                $('.dropdown').css('display', 'none !important');
                location.reload();
              });
          }

          function popupAfterLogin(response) {
              jQuery.noConflict();
              if (response.status=='connected') {
                  $('#myModal').modal('show');
              } else {
                  $('#myModal').modal('hide');
              }
          }

          function shareWithFacebook() {
              FB.ui({
                method: 'feed',
                name: 'Stand for Humanity',
                link: 'http://standforhumanity.herokuapp.com/bootstrap/',
                picture: 'http://i.imgur.com/3RFW3uY.jpg',
                caption: '#StandAgainstStarvation - Make a Difference',
                description: 'Support the cause and join hundreds of others to take a stand for humanity. ' +
                        'We\'re creating a movement.'
              }, function(response){
                  if (response && !response.error_code) {
                      postToMap(FB.getAuthResponse().userID, FB.getAuthResponse().accessToken);
                  }
              });
          }

          function postToMap(fbID, fbAccessToken) {
            $.post("/postToMap/",
                {
                   facebookId:fbID,
                   fbAccessToken:fbAccessToken,
                   lat: $('input[name="map-coordinates-lat"]').val(),
                   lng: $('input[name="map-coordinates-lng"]').val(),
                   csrfmiddlewaretoken:$('input[name="csrfmiddlewaretoken"]').val()
                },
                function(data, success) {
                    location.reload();
                });
          }

          // This is called with the results from from FB.getLoginStatus().
          function statusChangeCallback(response) {
            console.log('statusChangeCallback');
            console.log(response);
            // The response object is returned with a status field that lets the
            // app know the current login status of the person.
            // Full docs on the response object can be found in the documentation
            // for FB.getLoginStatus().
            if (response.status === 'connected') {
              // Logged into your app and Facebook.
              testAPI();
            } else if (response.status === 'not_authorized') {
              // The person is logged into Facebook, but not your app.
            } else {
              // The person is not logged into Facebook, so we're not sure if
              // they are logged into this app or not.
            }
          }

          // This function is called when someone finishes with the Login
          // Button.  See the onlogin handler attached to it in the sample
          // code below.
          function checkLoginState() {
            FB.getLoginStatus(function(response) {
              statusChangeCallback(response);
            });
          }

          window.fbAsyncInit = function() {
          FB.init({
            appId      : '1437375943194144',  // Production Key,
{#            appId      : '1442162709382134',  // Test Key,#}
            cookie     : true,  // enable cookies to allow the server to access
                                // the session
            xfbml      : true,  // parse social plugins on this page
            version    : 'v2.0' // use version 2.0
          });

          // Now that we've initialized the JavaScript SDK, we call
          // FB.getLoginStatus().  This function gets the state of the
          // person visiting this page and can return one of three states to
          // the callback you provide.  They can be:
          //
          // 1. Logged into your app ('connected')
          // 2. Logged into Facebook, but n\ot your app ('not_authorized')
          // 3. Not logged into Facebook and can't tell if they are logged into
          //    your app or not.
          //
          // These three cases are handled in the callback function.

          FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
          });

          };

          // Load the SDK asynchronously
          (function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1437375943194144&version=v2.0";
              fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));

          // Here we run a very simple test of the Graph API after login is
          // successful.  See statusChangeCallback() for when this call is made.
          function testAPI() {
            console.log('Welcome!  Fetching your information.... ');
            FB.api('/me', function(response) {
              console.log('Successful login for: ' + response.name);
              $('input[name="fb-access-token"]').val(FB.getAuthResponse().accessToken);
              $('#login-with-facebook').css('display', 'none');
              $('.dropdown').css('display', 'block !important');
              $('#facebook-image').append("<span class='caret' style='margin-right: 5px;'></span> " +
                    "<img src='https://graph.facebook.com/v1.0/"+FB.getAuthResponse().userID+"/picture' width='30' style='border-radius: 8px;'></img>");

            });
          }
    </script>

    <script>
        function initializeConfig() {
            $('.dropdown').css('display', 'none !important');
        }

        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }
    </script>

    <script>
        $(document).ready(function(){
            $('a').click(function(){
                $('html, body').animate({
                    scrollTop: $( $.attr(this, 'href') ).offset().top - 50
                }, 500);
                return false;
            });

            $("input#otherInput").keyup(function(){
                $('input#otherAmount').trigger('click');
                $("input#otherAmount").val($(this).val() + "00");
            });

            var offset = 220;
            var duration = 500;
            $(window).scroll(function() {
                if ($(this).scrollTop() > offset) {
                    $('.back-to-top').fadeIn(duration);
                } else {
                    $('.back-to-top').fadeOut(duration);
                }
            });
        });
    </script>
</head>
<body onload="initializeConfig();">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color: #1d2325 !important; background-image: none !important;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <table>
                    <tr>
                        <td><a class="navbar-brand" href="#top"><img id="iconImg" src="{% static 'img/standforhumanity.png' %}" width="250" /></a></td>
                        <td>
                            <iframe src="http://www.facebook.com/plugins/like.php?href=https://www.facebook.com/stand.4.humanity.now/&amp;
                                layout=button_count&amp;show_faces=false&amp;width=90&amp;action=like&amp;
                                font=verdana&amp;colorscheme=light" allowtransparency="true" style="border:
                                medium none; overflow: hidden; width: 90px; height: 21px;" frameborder="0"
                                scrolling="no">
                            </iframe>
                        </td>
                    </tr>
                </table>

            </div>
            <div class="collapse navbar-collapse" style="float: right;">
                <ul class="nav navbar-nav">
                    <li><a href="#map">Map</a></li>
                    <li><a href="#the-cause">The Cause</a></li>
                    <li><a href="#getting-involved">Get Involved</a></li>
                    <li><a href="#about">About</a></li>
                    <li id="login-with-facebook">
                        <a class="tab-link" href="#" onClick="loginUser(); return false;">Login</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" id="facebook-image"  class="dropdown-toggle" data-toggle="dropdown"> </a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#" onclick="logoutUser(); return false;">Logout</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">

                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>

    <div id="top" class="jumbotron" style="background-color: #001429; color: whitesmoke;">
        <div class="container">
            <h1 style="font-size: 34px; text-align: center; padding: 20px 0; font-weight: 200; font-family: Helvetica;">What if you and your friends could make a difference?</h1>
            <div style="text-align: center;">
                <h4 style="font-size: 19px; font-weight: 100; text-rendering: optimizelegibility;">Support the cause and join hundreds of others to take a stand for humanity.</h4>
                <h4 style="font-size: 19px; font-weight: 100; text-rendering: optimizelegibility">Join the movement. Make your mark.</h4>
            </div>
        </div>
    </div>

    <div class="jumbotron" style="background-color: #30557c; padding: 30px 0px 30px 0px !important">
        <div class="container">
            <!-- Button trigger modal -->
            <div class="button-container">
                <button id="gtom-button" type="button" class="btn btn-primary btn-lg btn-block" onclick="ensureLogin();" data-toggle="modal" data-target="myModal">Get on the Map</button>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">There are 2 ways to get on the map!</h4>
                        </div>
                        <div class="modal-body" style="border-bottom: 1px solid #e5e5e5;">
                            <h5>1. Donate to the Cause!</h5>
                            <p style="font-size: 14px;">100% of all raised funds are donated to Palestine through Islamic Relief.</p>
                            <div style="text-align: center;">
                                <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#donateModal1">Donate</button>
                            </div>
                        </div>
                        <div class="modal-body" style="border-bottom: 1px solid #e5e5e5;">
                            <h5>2. Spread the Word!</h5>
                            <p style="font-size: 14px;">Tell your friends on Facebook about Stand for Humanity and the #StandForPalestine cause so they can join the movement too.</p>
                            <div style="text-align: center;">
                                <button style="margin:0 auto;" id="share-fb-button" type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#shareModal1">Post to FB</button>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="donateModal1" tabindex="-1" role="dialog" aria-labelledby="donateModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">Donate to the Cause!</h4>
                        </div>
                        <div class="modal-body" style="border-bottom: 1px solid #e5e5e5;">
                            <h5>Specify your location so others can see where you're supporting the cause from.</h5>
                            <p style="font-size: 14px;">Leave the field blank if you want us to use your current location.</p>
                            <table style="margin:0 auto;">
                                <tr>
                                    <td>
                                        <div class="dialog-input-container">
                                            <input style="height: 34px; width: 240px; font-size: 14px;" id="dialog-input" class="controls" type="text" placeholder="Current Location">
                                        </div>
                                    </td>
                                    <td style="padding-left: 10px;">
                                        <button type="button" class="btn btn-primary proceed-button" data-dismiss="modal" data-toggle="modal" data-target="#donateModal2">Proceed</button>
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="donateModal2" tabindex="-1" role="dialog" aria-labelledby="donateModalLabel2" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">Donate to the Cause!</h4>
                        </div>
                        <div class="modal-body" style="border-bottom: 1px solid #e5e5e5;">
                            <p style="font-size:14px;">Please select one of the options to indicate the amount you wish to donate to the cause, or input your own amount using the Other option. A symbol of your contribution will become visible on the map after making your donation to the cause.</p>
                            <table>
                                <tr>
                                    <td width="210">
                                        <p style="font-size:12px; position: relative; bottom: 20px;">
                                            Check the box below if you would like to receive a receipt for your donation. A tax receipt will be sent to the email address you specify in the following step.
                                            <br><br>
                                            <input type="checkbox" id="taxReceiptOption" name="taxReceiptOption" value="1"><strong> I want a donation receipt</strong>
                                        </p>

                                    </td>
                                    <td style="padding: 0 10px;">
                                        <form action="/donate/" method="POST" style="font-size: 16px; font-weight: 300;">
                                            {% csrf_token %}
                                            <input id="map-coordinates-lat" name="map-coordinates-lat" type="hidden" value="">
                                            <input style="margin-top: 10px;" id="map-coordinates-lat" name="map-coordinates-lng" type="hidden" value="">
                                            <input style="margin-top: 10px;" id="fb-access-token" name="fb-access-token" type="hidden" value="">
                                            <input style="margin-top: 10px;" type="radio" name="amount" value="500">&nbsp;$5<br/>
                                            <input style="margin-top: 10px;" type="radio" name="amount" value="1000">&nbsp;$10<br/>
                                            <input style="margin-top: 10px;" type="radio" name="amount" value="2500" checked>&nbsp;$25<br/>
                                            <input style="margin-top: 10px;" type="radio" name="amount" value="5000">&nbsp;$50<br/>
                                            <input style="margin-top: 10px;" type="radio" name="amount" id="otherAmount" value="">&nbsp;Other: $ <input id="otherInput" name="otherInput" size="5" onkeypress="return isNumberKey(event)">.00<br/>


                                            <button style="margin-top: 10px;" id="customButton" class="btn btn-primary">Donate to the Cause</button>

                                            <script>
                                                var handler = StripeCheckout.configure({
                                                    key: 'pk_test_4WyrqVW2A8o7KQHRjdKCsawK',
{#                                                    image: "{% static 'img/islamic-relief.png' %}",#}
                                                    image: "http://www.unaidsrstesa.org/prvs/sites/default/files/wfp_logo.png",
                                                    allowRememberMe: false,
                                                    token: function(token) {
                                                      var $amount = $('<input type=hidden name=amount />').val($('input[name="amount"]:checked').val());
                                                      var $currency = $('<input type=hidden name=currency />').val('cad');
                                                      var $email = $('<input type=hidden name=stripeEmail />').val(token.email);
                                                      var $input = $('<input type=hidden name=stripeToken />').val(token.id);

                                                      $('form').append($amount);
                                                      $('form').append($currency);
                                                      $('form').append($email);
                                                      $('form').append($input).submit();

                                                      // Use the token to create the charge with a server-side script.
                                                      // You can access the token ID with `token.id`
                                                    }
                                                  });

                                                  document.getElementById('customButton').addEventListener('click', function(e) {

                                                      if (document.getElementById('taxReceiptOption').checked) {
                                                            // Open Checkout with tax options
                                                            handler.open({
                                                              name:        'Stand for Humanity',
                                                              description: '#StandAgainstStarvation',
                                                              amount:      $('input[name="amount"]:checked').val(),
                                                              currency:    'cad',
                                                              address:      true
                                                            });
                                                            e.preventDefault();
                                                      } else {
                                                            // Open Checkout without tax options
                                                            handler.open({
                                                              name:        'Stand for Humanity',
                                                              description: '#StandAgainstStarvation',
                                                              amount:      $('input[name="amount"]:checked').val(),
                                                              currency:    'cad'
                                                            });
                                                            e.preventDefault();
                                                      }
                                                });
                                            </script>
                                        </form>
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="shareModal1" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">Share with Facebook!</h4>
                        </div>
                        <div class="modal-body" style="border-bottom: 1px solid #e5e5e5;">
                            <h5>Specify your location so others can see where you're supporting the cause from.</h5>
                            <p style="font-size: 14px;">Leave the field blank if you want us to use your current location.</p>
                            <table style="margin:0 auto;">
                                <tr>
                                    <td>
                                        <div class="dialog-input-container">
                                            <input style="height: 34px; width: 240px; font-size: 14px;" id="dialog-input2" class="controls" type="text" placeholder="Current Location">
                                        </div>
                                    </td>
                                    <td style="padding-left: 10px;">
                                        <button id="donate-button" type="button" class="btn btn-primary" onclick="shareWithFacebook();">Spread the Word</button>
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="map">
        <div id="autocomplete-container">
            <div id="pac-input-container">
                <input id="pac-input" class="controls" type="text" placeholder="Enter a location">
            </div>
        </div>
        <div id="map-canvas">
        </div>
    </div>

    <div class="container" style=" max-width: 1020px; margin-top: 5px;">
      <!-- Example row of columns -->
      <div class="row" id="the-cause">
          <div class="col-md-12" style="background-color: #001429; color: whitesmoke;">
              <h2 style=" margin-top: 10px !important; font-weight: 100;">Featured Cause</h2>
              <h4 style="padding-left:10px; letter-spacing: 1px;">#StandAgainstStarvation</h4>
          </div>
          <div class="col-md-12" style="padding:0 !important;">
              <div id="featured-img" style="width:100%; max-width: 1020px; max-height:350px; overflow:hidden; margin: 0;">
                <img src="http://i.imgur.com/Yp71iWr.jpg" >
              </div>
          </div>
          <div class="col-md-12" style="background-color: white; margin-top: 3px; padding-top: 5px;">
              <p>There are 805 million undernourished people in the world today. That means one in nine people do not get enough food to be healthy and lead an active life. Hunger and malnutrition are in fact the number one risk to health worldwide — greater than AIDS, malaria and tuberculosis combined. The good news is that hunger is entirely solvable. There is enough food in the world to feed everyone and no scientific breakthroughs are needed. Today’s knowledge, tools and policies, combined with political will, can solve the problem.</p>
              <p>Hunger can be eliminated in our lifetimes. See what we're doing to make it happen. Solving hunger is a “best buy” in today’s tough economy. When nations work together to solve hunger and invest in good nutrition, they increase productivity and create economic opportunities. Conversely, studies have shown that countries lose millions of dollars in economic output as a result of child undernutrition. Solving hunger is also a contribution to peace and stability. When governments can no longer guarantee adequate food supplies, states are prone to fall. Volatility on food markets can quickly translate into volatility on the streets. Finally, solving hunger lays the foundation for progress in many other areas of development, including health and education. Well-nourished women have healthier, heavier babies whose immune systems are stronger for life. A healthy, well-fed child is also more likely to attend school.</p>
              <p>Good progress was made in reducing chronic hunger in the 1980s and the 1990s, but progress began to level off between 2000 and 2010. All of us – citizens, employers, corporate leaders and governments – must work together to end hunger.</p>
              <p>Support the cause to put a dent in end world hunger. Join the movement.</p>
              <p><i>100% of funds raised for this cause are donated directly to the World Food Programme</i></p>
          </div>
      </div>

      <div class="row" id="getting-involved">
          <div class="col-md-12" style="background-color: #001429; color: white;">
              <h2 style=" margin-top: 10px !important; font-weight: 100;">Other Ways You Can Help</h2>
          </div>
          <div class="col-md-12" style="padding:0 !important;">
              <div id="featured-img" style="width:100%; max-width: 1020px; height:300px; overflow:hidden; margin: 0;">
                <img src="http://i.imgur.com/xZPD2RE.jpg" >
              </div>
          </div>
          <div class="col-md-12" style="background-color: white; margin-top: 3px; padding-top: 5px;">
              <div style="max-width: 800px;">
                  <h4>1. Humanitarian Action </h4>
                  <p style="padding-left: 10px;">
                    Food assistance in crisis situations saves lives and is often the first step on the road to recovery. As well as safeguarding nutrition, food can also protect livelihoods and support education. In this way it is an investment in a country’s future.
                    <br/>
                    <a href="https://www.wfp.org/emergencies" target="_blank" style="font-size: 12px; font-weight: 400;">Learn More</a>
                  </p>

                  <h4>2. School Meals</h4>
                  <p style="padding-left: 10px;">
                    If you provide a cup of food to children in school, you provide a nutritional safety net that keeps kids, especially girls, in school so they get an education. This is an affordable approach and it has many positive knock-on effects.
                    <br/>
                    <a href="https://www.wfp.org/school-meals" target="_blank" style="font-size: 12px; font-weight: 400;">Learn More</a>
                  </p>

                  <h4>3. Safety Nets</h4>
                  <p style="padding-left: 10px;">
                    Some 80 percent of the world has no safety net. When there is a disaster, or a financial crisis, or a food crisis, there is no back-up plan. If you can set up a food safety net linked to schools and to local farmers, it means a population will cope much better with any shock.
                  </p>

                  <h4>4. Connecting Small Farmers to Markets</h4>
                  <p style="padding-left: 10px;">
                    Farmers will produce more and better quality food if they have markets for it and if they have the tools and know-how to access those markets. Giving smallholder farmers these things will also improve their own lives by increasing their income.
                    <br/>
                    <a href="https://www.wfp.org/purchase-progress" target="_blank" style="font-size: 12px; font-weight: 400;">Learn More</a>
                  </p>

                  <h4>5. Empowering Women</h4>
                  <p style="padding-left: 10px;">
                    When women are supported, whether as farmers or as food providers, families eat. Also, studies show that high rates of hunger are strongly linked to gender inequalities. The power of women must be unleashed if we are to feed the world.
                    <br/>
                    <a href="https://www.wfp.org/focus-on-women" target="_blank" style="font-size: 12px; font-weight: 400;">Learn More</a>
                  </p>

                  <h4>6. Building Resiliency</h4>
                  <p style="padding-left: 10px;">
                    The world’s poorest and hungriest people are also those that face the greatest risk from disasters.  It is essential to help build the resiliency of vulnerable communities so that when emergencies strike, they are strong enough to cope. Food assistance can help in this.
                    <br/>
                    <a href="https://www.wfp.org/disaster-risk-reduction" target="_blank" style="font-size: 12px; font-weight: 400;">Learn More</a>
                  </p>

                  <h4>7. The Power of the Individual</h4>
                  <p style="padding-left: 10px;">
                    There is tremendous power when individuals are activated to get involved. And this power is exponentially increased through the Internet and social media. We need to explore further the power of these new communications tools to build a global community of hunger-fighters.
                    <br/>
                    <a href="https://www.wfp.org/stories/10-things-you-can-do-world-food-day" target="_blank" style="font-size: 12px; font-weight: 400;">Learn More</a>
                  </p>
              </div>
          </div>
      </div>

      <div class="row" id="about">
          <div class="col-md-12" style="background-color: #001429; color: white;">
              <h2 style=" margin-top: 10px !important; font-weight: 100;">What is Stand For Humanity?</h2>
          </div>
          <!--
          <div class="col-md-12" style="padding:0 !important;">
              <div id="featured-img" style="width:100%; max-width: 1020px; overflow:hidden; margin: 0;">
                <img src="http://tuum-est.com/_image/earth-from-space-horizon-view-nasa.jpg" >
              </div>
          </div>-->
          <div class="col-md-12" style="background-color: white; margin-top: 3px; padding-top: 5px;">
              <p>Stand for Humanity is a social movement dedicated to supporting the lives of innocent people in times of need. For each respective cause, each person on the map represents an important piece of the puzzle to taking a stand for humanity by either donating to the cause or raising awareness to it. All funds raised by Stand for Humanity are donated directly to charity funds in support of the featured cause.</p>
          </div>
          <div class="col-md-12" style="background-color: white; padding-top: 5px;">
              <table style="font-family: Helvetica Neue,Helvetica,Arial,sans-serif; font-size: 14px; line-height: 1.42857143;">
                  <tr>
                      <td style="padding: 0 10px 10px 0;">
{#                          <a href="http://www.islamic-relief.org/" target="_blank"><img src="{% static 'img/islamic-relief.png' %}" /></a>#}
                          <a href="http://www.wfp.org/" target="_blank"><img src="http://www.unaidsrstesa.org/prvs/sites/default/files/wfp_logo.png" style="width: 102px; height: 102px;"/></a>
                      </td>
                      <td style="vertical-align: top;">
                          <div >
                              <p><i><strong>100% of funds raised for #StandAgainstStarvation go directly to the World Food Programme</strong></i></p>
                              <p>'The World Food Programme is the world's largest humanitarian agency fighting hunger worldwide.'</p>
                              <p>In emergencies, we get food to where it is needed, saving the lives of victims of war, civil conflict and natural disasters. After the cause of an emergency has passed, we use food to help communities rebuild their shattered lives.</p>
                              <p>WFP is part of the United Nations system and is voluntarily funded.'
                                  <br/>
                                  <i>http://www.wfp.org/</i>
                              </p>
                          </div>
                      </td>
                  </tr>
              </table>
          </div>
      </div>

    </div>

    <div class="footer">
      <div class="footer-content" style="width:100%; max-width: 1020px; margin:0 auto; padding-top: 10px; text-align: right;">
        <p class="text-muted">&copy; Copyright 2014</p>
      </div>
    </div>

    <a href="#top" class="back-to-top">Back to Top</a>

</body>
</html>