body {
    background-color: whitesmoke;
    background-size:cover;
    background-attachment: fixed;
}

.header-container {
    min-height: 60px;
    background-color: #1d2325;
}

#header {
    width: 82%;
    min-width: 937px;
    max-width: 1024px;
    margin: 0 auto;
    padding: 15px;
    z-index:99
}

.header-tab {
    color: white;
}

#header-table a {
    color: lightgray;
    text-decoration: none;
    width:100%;
    height:100%;
    display: block;
    text-align: center;
}

#header-table a:hover {
    color: white;
}

.main-container {
    margin: 0 auto;
    width: 80%;
    min-width: 937px;
    max-width: 1024px;
    background: #ffffff;
    border: 1px solid #CCC;
    border-top: none;
}

.tagline-container {
    display: inline-block;
    width: 100%;
    background: #0f1e2d;
    margin: 0 auto;
}

.tagline {
    margin: 0 auto;
    text-align: center;
    color: #e0eafd;
    padding: 40px 0px 40px 0px;
    font-weight: 400;
}

.subtag1 {
    margin: 0 auto;
    text-align: center;
    color: #e0eafd;
    font-weight: 200;
    font-size: 19px;
}

.subtag2 {
    margin: 0 auto;
    text-align: center;
    color: #e0eafd;
    font-weight: 200;
    font-size: 19px;
    padding: 10px 0px 40px 0px;
}

#map-canvas {
    height: 500px;
    width: 102%;
    margin: 0 auto;
    position: relative;
    left: -1%;
}

#facebook-image {
    text-align: center;
}

.getonthemap-container {
    background: powderblue;
}

.button-container {
    padding: 30px;
    width: 322px;
    margin: 0 auto;
}

.button-container button {
    font-family: 'Helvetica';
    font-weight: 200;
}

.blackout {
    background-color:#000;
    opacity:.7;
    filter:alpha(opacity=70);
    height:100%;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:100;
    display:none;
    cursor:pointer;
}

.msgbox {
    background-color:white;
    color:#000;
    width:30%;
    height:30%;
    position:fixed;
    top:20%;
    left:15%;
    border-radius:20px;
    padding:10px;
    z-index:101;
    display:none;
    margin-left: 20%;
}

.closeBox {
    cursor:pointer;
}