.jumbotron {
    padding: 32px 0px !important;
}

.button-container {
    padding: 0px 30px;
    width: 322px;
    margin: 0 auto;
}

#gtom-button {
    font-weight: 100;
    letter-spacing: 1px;
}

#pac-input-container {
    position: relative;
    right: -45px;
}

#pac-input {
    position: absolute;
    z-index: 50;
    background-color: #fff;
    border-radius: 3px;
    margin-top: 10px;
    padding: 3px 11px 1px 8px;
    width: 250px;
    font-size: 13px;
    font-weight: 300;
    text-overflow: ellipsis;
}

#pac-input:focus {
    border-color: #4d90fe;
    margin-left: -1px;
    padding-left: 10px;  /* Regular padding-left + 1. */
    width: 251px;
}

.set-location {
    display: none;
}

.pac-container {
    z-index: 9999 !important;
}
